#top-body{
  z-index: 1;
  width: 100%;

  .enter-area{
    border: solid;
    height: 120px;
    width: 80%;
    overflow: auto;
    margin-top: 10px;

    .enter-area-list {
      height: 120px;
      width: 100%;
      border: solid 1px;
      background-color: rgba(131, 236, 236, 0.886);
    }
    .enter-area-switch {
      height: 120px;
      width: 100%;
      background-color: chartreuse;
    }
  }
  
  .explain {
    font-size: 24px;
  }
  .explain-title {
    font-size: 20px;
    margin-top: 30px;
  }
  .explain-list{
    margin-top: 20px;
    padding: 5px;
    border: solid;
    line-height: 30px;
    
    > li{
      font-size: 18px;
    }
  }

  .anchor{
    height: 100px;
    z-index: 2;
    background-color: #000;
    text-align: center;

    .anchor-text{
      text-decoration: none;
      list-style: none;
      font-size: 36px;
      color: #fff;
    }
  }

  .apply{
    display: flex;
    .box{
      width: 50%;
      height: 582px;
      min-height: 40vw;
      border:#4f1486 solid 1px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .images{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
  
    .box{
      width: calc(100% / 3);
      display: inline-block;
      height:calc(100vh - 190px);
    }

    .image-common {
      text-align: center;
      position: absolute;
      top: 45%;
      color: coral;
      font-size: 48px;
      padding: 20px;
      opacity: 1;
    }
    // アニメーション左
    .imageanimationleft{
      background-image: url("./assets/images/fog.png");
      background-repeat: no-repeat;
      animation: backGroundImageLeft 2s;
      position: relative;
      height: 450px;
    }
    @keyframes backGroundImageLeft {
      0% {
      }
      50%{
        opacity: 0;
      }
      80%{
        background-image: url("./assets/images/fog.png");
        background-image: url("./assets/images/fog-dec.png");
        opacity: 1;
      }
      100% {
        background-image: url("./assets/images/fog.png");
      }
    }
    .imagestextleft{
      animation: imagesTextLeft 1s;
      @extend .image-common;
      @media screen and (max-width: 990px) {
        font-size: 24px;
      }
    }
    @keyframes imagesTextLeft {
      from{
        transform: translate(0, -50px);
        opacity: 0;
      }
      to{
        opacity: 1;
      }
    }
  
    // アニメーション真ん中
    .imageanimationcenter{
      background-image: url("./assets/images/cat.png");
      background-repeat: no-repeat;
      animation: backGroundImageCenter 3.1s;
      position: relative;
      height: 450px;
    }
    @keyframes backGroundImageCenter {
      0% {
      }
      50%{
        opacity: 0;
      }
      80%{
        background-image: url("./assets/images/cat.png");
        background-image: url("./assets/images/cat-dec.png");
        opacity: 1;
      }
      100% {
        background-image: url("./assets/images/cat.png");
      }
    }
    .imagestextcenter{
      @extend .image-common;
      animation: imagesTextCenter 1.5s;
      @media screen and (max-width: 990px) {
        font-size: 24px;
      }
    }
    @keyframes imagesTextCenter {
      from{
        transform: translate(0, -50px);
        opacity: 0;
      }
      to{
        opacity: 1;
      }
    }
  
    // アニメーション右
    .imageanimationright{
      background-image: url("./assets/images/night.png");
      background-repeat: no-repeat;
      animation: backGroundImageRight 4.5s;
      position: relative;
      height: 450px;
    }
    @keyframes backGroundImageRight {
      0% {
      }
      50%{
        opacity: 0;
      }
      60%{
        background-image: url("./assets/images/night.png");
        background-image: url("./assets/images/night-dec.png");
        opacity: 1;
      }
      80% {
        background-image: url("./assets/images/night.png");
      }
    }
    
    .imagestextright{
      @extend .image-common;
      animation: imagesTextRight 2s;
      @media screen and (max-width: 990px) {
        font-size: 24px;
      }
    }
    @keyframes imagesTextRight {
      from{
        transform: translate(0, -50px);
        opacity: 0;
      }
      to{
        opacity: 1;
      }
    }
  }
}